:root {
  --elWidth: 325px;
}

.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header, .Game-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Game-header {
  min-height: 10vh;
}

.Game-main {
  background-color: #ccf3fd;
  min-height: 90vh;
  min-width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Scoreboard, .restart {  
  width: var(--elWidth);
  height: 60px;
  background: rgb(195, 228, 255);
  color: #444;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.Scoreboard > h3 {
  color: green;
}

.restart > span {
  font-size: 1.5em;
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
}

.field {
  width: var(--elWidth);
  height: 320px;
  background: rgb(195, 228, 255);
  color: #444;
  display: inline-grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  grid-gap: 5px;
  justify-content: center;

}

.cell {
  background: rgb(91, 180, 253);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  text-transform: uppercase;
  box-sizing: border-box;
}

.restart, .Scoreboard > p, .cell > span {
  text-transform: capitalize;
}

.cell:hover {
  border: 1px solid black;
}

.restart > span:hover, .vs:hover {
  font-weight: bold;
}

.vs {
  margin: 5px;
  padding: 5px;
  width: 80px;
  background:  rgb(91, 180, 253);
  display: inline-block;
}

.vs:hover {
  background:  rgb(70, 180, 253);
  cursor: pointer;
}
